<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Bidang Studi</nb-card-header>
            <nb-card-body>
                <input type="text" nbInput fullWidth placeholder="Bidang Studi (contoh : Matematika)">
                <input type="text" nbInput fullWidth placeholder="Tahun Ajaran (contoh : 2021/2022">
                <input type="text" nbInput fullWidth placeholder="Kurikulum (contoh : Merdeka)">
                <button nbButton [status]="success">
                    Save
                </button>
            </nb-card-body>
        </nb-card>
    </div>

</div>